*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
  }


#navbar{
    height: 50px;
    /* border: 1px solid red; */
    background-color: rgb(255, 0, 166);

}

section {
    background-color: red;
}
section div{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}
#Sec_div1{
    border: 1px solid green;
}
#Sec_div2{
    border: 1px solid blue;
}

#Sec_div3{
    border: 1px solid yellow;
}